<section class="w-100 custom-section" style="height: 80vh;">
  <div class="container-fluid h-100">
    <div class="row h-100">

      <!-- COLUMNA DE TEXTO -->
      <div class="col-md-8 col-12 d-flex align-items-center justify-content-center bg-custom">
        <div class="text-container" style="width: 90%;">
          <h2 data-aos="slide-up" class="text-center m-5 p-4 fs-1">
            Somos una empresa comprometida con la excelencia
          </h2>
          <p data-aos="slide-up" class="fs-5" style="text-align: justify;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolor officia eos, debitis quisquam nihil hic? Tempora voluptatum, animi ex voluptate quae magni aperiam, rerum temporibus sed rem in! Nulla!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum dolores nisi iure officiis necessitatibus velit ad vel reprehenderit voluptate. Nostrum fugit dicta, maxime debitis ex veritatis temporibus voluptates ducimus aut.
          </p>
        </div>
      </div>

      <!-- COLUMNA DE IMAGEN -->
      <div class="col-md-4 col-12 image-side d-flex align-items-center justify-content-center">
        <div>
          <img data-aos="fade-down" src="/imgs/786578-new_era_new_jersey_devils_59fifty_fitted_cap_NES7494_1.avif" alt="imagen gorra" style="max-width: 100%; height: auto;" />
        </div>
      </div>

    </div>
  </div>
  </div>
</section>
 