<section class="w-100 custom-section" style="height: 80vh;">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <!-- TEXTO -->
      <div class="col-md-8 col-12 d-flex align-items-center justify-content-center bg-custom">
        <div class="text-container" style="width: 90%;">
          <h2 class="text-center m-5 p-4 fs-1">
            Somos una empresa comprometida con la excelencia
          </h2>
          <p style="text-align: justify;" class="fs-5">
            Lorem ipsum dolor sit amet...
          </p>
        </div>
      </div>

      <!-- IMAGEN -->
      <div class="col-md-4 col-12 image-side d-flex align-items-center justify-content-center">
        <div>
          <img src="/imgs/786578-new_era_new_jersey_devils_59fifty_fitted_cap_NES7494_1.avif" alt="imagen gorra" />
        </div>
      </div>
    </div>
  </div>
</section>
