<section class="m-5">
    <h2 class="text-center">Center aligned text on all viewport sizes.</h2>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolor officia eos, debitis quisquam nihil hic? Tempora voluptatum, animi ex voluptate quae magni aperiam, rerum temporibus sed rem in! Nulla! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum dolores nisi iure officiis necessitatibus velit ad vel reprehenderit voluptate. Nostrum fugit dicta, maxime debitis ex veritatis temporibus voluptates ducimus aut.</p>
</section>