<section class="mt-4 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 p-4 bg-light rounded shadow">
        <h1 class="text-start">Nuevo Producto</h1>

        <!-- Mensaje de éxito -->
        <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
          {{ successMessage }}
          <button type="button" class="btn-close" (click)="successMessage = null" aria-label="Close"></button>
        </div>

        <form (ngSubmit)="addProduct()" #productForm="ngForm">
          <div class="mb-4">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" placeholder="Gorra negra" [(ngModel)]="product.name" name="name" required>
          </div>

          <div class="mb-4">
            <label for="description" class="form-label">Descripción</label>
            <textarea class="form-control" id="description" [(ngModel)]="product.description" name="description" required></textarea>
          </div>

          <div class="mb-3">
            <label for="formFile" class="form-label">Multimedia</label>
            <input class="form-control" type="text" id="formFile" placeholder="URL de la imagen" [(ngModel)]="product.imageUrl" name="imageUrl">
          </div>

          <div class="mb-4">
            <label for="category" class="form-label">Categoría</label>
            <select class="form-select" [(ngModel)]="product.category_id" name="category" required>
              <option value="" disabled selected>Selecciona una categoría</option>
              <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
            </select>
          </div>

          <div class="row">
            <div class="col-3">
              <div class="mb-4">
                <label for="stock" class="form-label">Stock</label>
                <input type="number" class="form-control" id="stock" placeholder="0" [(ngModel)]="product.stock" name="stock">
              </div>
            </div>
          </div>

          <h3>Precio</h3>
          <div class="row">
            <div class="col-md-2">
              <div class="mb-4">
                <label for="price" class="form-label">Precio</label>
                <div class="input-group">
                  <span class="input-group-text">$</span>
                  <input type="number" class="form-control" id="price" placeholder="0.0" [(ngModel)]="product.price" name="price" required>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-4">
                <label for="comparisonPrice" class="form-label">Precio de comparación</label>
                <div class="input-group">
                  <span class="input-group-text">$</span>
                  <input type="number" class="form-control" id="comparisonPrice" [(ngModel)]="product.discount" placeholder="0.0" name="comparisonPrice">
                </div>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-danger" [disabled]="productForm.invalid">Crear Producto</button>
        </form>
      </div>
    </div>
  </div>
</section>
