<!-- FORMULARIO -->
<div *ngIf="!ticketData">
  <section class="mt-4 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 p-4 bg-light rounded shadow">
          <h1 class="text-start">Nuevo Ticket</h1>
          <form #ticketForm="ngForm" (ngSubmit)="submitForm(ticketForm)">
            <div class="mb-4">
              <label for="cliente" class="form-label">Nombre del Cliente</label>
              <select name="cliente" id="cliente" class="form-select" ngModel required>
                <option value="" disabled selected>Selecciona un cliente</option>
                <option></option>
              </select>
            </div>

            <div class="mb-4">
              <label for="email" class="form-label">Correo electrónico</label>
              <input type="email" disabled="" class="form-control" value="ejemplo@gmail.com" id="email" name="email" ngModel required>
            </div>

            <div class="mb-4">
              <label for="pedido" class="form-label">Folio</label>
              <div class="row">
                <div class="col-2">
                    <input type="number" class="form-control" id="pedido" name="pedido" ngModel required>
                </div>
              </div>
              
            </div>

            <div class="mb-4">
              <label for="titulo" class="form-label">Asunto</label>
              <select name="titulo" id="titulo" class="form-select" ngModel required>
                <option value="" disabled selected>Selecciona un asunto</option>
                <option value="consulta">Venta</option>
                <option value="queja">Compra</option>
              </select>
            </div>

            <div class="mb-4">
              <h3>Productos</h3>
              <hr>
                  <label for="descripcion" class="form-label">Producto</label>
                  <select name="producto" id="producto" class="form-select" ngModel required>
                    <option value="" disabled selected>Selecciona un producto</option>
                    <option></option>
                  </select>
            </div>
            <div class="mb-4">
              <div class="row">
                <div class="col-5">
                  <label for="Producto" class="form-label">Producto</label>
                  <input type="text" disabled class="form-control" id="Producto" name="Producto" ngModel required>
                </div>
                <div class="col-2"> 
                  <label for="cantidad" class="form-label">Cantidad</label>
                  <input type="number" class="form-control" id="cantidad" name="cantidad" ngModel required>
                </div>
              </div>
             
            </div>

            <button type="submit" class="btn btn-danger">Enviar Ticket</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="row ">
  <div class="col-md-5">
    <!-- RESUMEN DEL TICKET -->
    <div *ngIf="ticketData"  id="imagenPreview" class="container mt-5 pt-3">
      <div #pdfContent class="p-4 bg-white border rounded">
        <div class="row">
          <div class="col-md-6">
            <h2 class="mb-4 p-2 text-start">🧢 Caps Ville</h2>
          </div>
          <div class="col-md-6">
            <h2 class="mb-4 p-2 text-end">🎫 Número de Ticket</h2>
          </div>
        </div>

        <div class="container">
          <h3>🏪 Caps Ville And Wear</h3>
          <p>📍 Villa Hidalgo, Jalisco – Mayoreo y menudeo en gorras originales, genéricas, ropa y accesorios para caballero.</p>
          <p>📞 Teléfono: 33 12 34 56 78</p>
          <p>📧 Email: capsvillegmail.com</p>
          <p>💼 Caps Ville es tu mejor opción para invertir 💸</p>

          <p class="lh-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-person" viewBox="0 0 16 20">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
            </svg> 
            <strong> Cliente:</strong> {{ ticketData.cliente }} <br>
            📧 {{ ticketData.email }}
          </p>

          <table class="table table-bordered mt-3">
            <thead class="table-light">
              <tr>
                <th>Cantidad</th>
                <th>Producto</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>40x</td>
                <td>🧢 Gorra genérica económica - $40.00</td>
                <td>$1,600.00</td>
              </tr>
            </tbody>
          </table>

          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <p class="text-end"><strong>💵 Total:</strong> $1,600.00</p>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-12">
              <p class="text-center">
                🙏 <strong>¡Gracias por su confianza!</strong><br>
                🚀 <strong>¡Éxito en sus ventas!</strong><br>
                🗓️ Fecha de creación del ticket<br>
                💙 Caps Ville And Wear 🧢
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center mt-4">
        <button class="btn btn-success m-2" (click)="generatePDF()">📄 Descargar PDF</button>
        <button class="btn btn-success" (click)="generateImage()">📄 Descargar PNG</button>
      </div>
    </div>
  </div>
</div>

