<section class="mt-4 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 p-4 bg-light rounded shadow">
                <h1 class="text-start">Nuevo Usuario</h1>
                <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ successMessage }}
                    <button type="button" class="btn-close" (click)="successMessage = null" aria-label="Close"></button>
                </div>
                <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ errorMessage }}
                    <button type="button" class="btn-close" (click)="errorMessage = null" aria-label="Close"></button>
                </div>
                <form (ngSubmit)="addNewUser()"  #newUserForm="ngForm">
                    <div class="mb-4">
                        <label for="name" class="form-label">Nombre completo</label>
                        <input type="text" class="form-control" [(ngModel)]="newUser.name" id="name" placeholder="Juan Pérez" name="name" required>
                    </div>
                    <div class="mb-4">
                        <label for="email" class="form-label">Correo electrónico  </label>
                        <input type="email" class="form-control" [(ngModel)]="newUser.email" id="email" placeholder="correo@ejemplo.com" name="email" required>
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label">Contraseña (mínimo 8 caracteres)</label>
                        <input type="password" class="form-control" minlength="8" [(ngModel)]="newUser.password" id="password" placeholder="********" name="password" required>
                    </div>
                    <div class="mb-4">
                        <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                        <input type="password" class="form-control" minlength="8" [(ngModel)]="newUser.confirmPassword" id="confirmPassword" placeholder="********" name="confirmPassword" required>
                    </div>
                    <!-- <div class="mb-4">
                        <label for="role" class="form-label">Rol</label>
                        <select class="form-select" id="role" [(ngModel)]="newUser.role" name="role" required>
                            <option selected disabled>Selecciona un rol</option>
                            <option value="admin">Administrador</option>
                            <option value="user">Usuario</option>
                        </select>
                    </div> -->
                    <button type="submit" class="btn btn-primary" [disabled]="newUserForm.invalid">Crear Usuario</button>
                </form>
            </div>
        </div>
    </div>
</section>
