<div class="wrapper">
  <main>
    <!-- Aquí van tu navbar, filtros, cards, etc. -->
  </main>

  <section class="bg-dark mt-3 text-light">
    <footer class="text-center">
      <div class="footer-content">
        <div class="row">
          <div class="col-md-3">Instagram</div>
          <div class="col-md-3">Whatsapp</div>
          <div class="col-md-3">Facebook</div>
          <div class="col-md-3">Tiktok</div>
        </div>
        <p class="mt-5">&copy; 2025 CapsVille. All rights reserved.</p>
      </div>
    </footer>
  </section>
</div>
