<section>
  <div class="container-fluid">

    <!-- Imagen fija solo para móvil -->
    <div class="mobile-banner">
      <img src="imgs/CAPSVILLAGE_Mesa de trabajo 1 copia.png" class="mobile-image" alt="Banner Móvil">
    </div>

    <!-- Carrusel solo para escritorio -->
    <div id="carouselExampleRide" class="carousel slide desktop-carousel" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item">
          <img src="imgs/CapsVille.png" class="d-block carousel-image" alt="...">
        </div>
        <div class="carousel-item active">
          <img src="imgs/CAPSVILLAGE_Mesa de trabajo 1 copia.png" class="d-block carousel-image" alt="...">
        </div>
        <div class="carousel-item">
          <img src="imgs/Agregar un título (1).png" class="d-block carousel-image" alt="...">
        </div>
        <div class="carousel-item">
          <img src="imgs/Agregar un título.png " class="d-block carousel-image" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
</section>
