<section class="m-5">
    <div class="container text-center mt-4">
        <h2 class="text-mb-4">Estadisticas</h2>
      
        <div class="row justify-content-center text-center mt-4">
          <div class="col-6 col-md-3 mb-4">
            <img src="imgs/cap-svgrepo-com.svg" alt="gorra" width="75" height="75" class="mt-2 mb-2">
            <p class="mt-2"><strong>+ 150</strong><br>Gorras vendidas</p>
          </div>
          <div class="col-6 col-md-3 mb-4">
            <img src="imgs/shop-svgrepo-com.svg" alt="mercado" width="75"  height="75" class="mt-2 mb-2">
            <p class="mt-2"><strong>2 Años</strong><br>En el marcado de gorras</p>
          </div>
          <div class="col-6 col-md-3 mb-4">
            <img src="imgs/user-svgrepo-com.svg" alt="clientes" width="70" height="70" class="mt-2 mb-2">
            <p class="mt-2"><strong>Clientes</strong><br>Una gran cantidad de clientes atendidos</p>
          </div>
        </div>
      </div>
</section>
