<section class="section-background">
  <div class="container" style="text-align: center; color: white;">
    <h2 data-aos="fade-down" class="section-title">Estadísticas</h2>
    <div class="row" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 4rem;">
      <div class="item" style="max-width: 250px; font-size: 1.2rem;">
        <img data-aos="fade-down" src="imgs/cap-svgrepo-com (1).svg" alt="gorra" class="icon-hover" width="90" height="90">
        <p data-aos="fade-up"><strong>+5,000</strong><br>Gorras vendidas</p>
      </div>
      <div class="item" style="max-width: 250px; font-size: 1.2rem;">
        <img data-aos="fade-down" src="imgs/shop-svgrepo-com (1).svg" alt="mercado" class="icon-hover" width="90" height="90">
        <p data-aos="fade-up"><strong>2 Años</strong><br>En el mercado de gorras</p>
      </div>
      <div class="item" style="max-width: 250px; font-size: 1.2rem;">
        <img data-aos="fade-down" src="imgs/user-plus-svgrepo-com.svg" alt="clientes" class="icon-hover" width="85" height="85">
        <p data-aos="fade-up"><strong>Clientes</strong><br>Una gran cantidad de clientes atendidos</p>
      </div>
    </div>
  </div>
</section>
