<section class="mt-2 pt-5">
    <div class="row">
        <div class="col-md-3">
            <app-sidebar-admin></app-sidebar-admin>
        </div>
        <div class="col-md-7">
            <h1 class="text-center">Bienvenido al panel de administración</h1>
            <p class="text-center">Desde aquí podrás gestionar los productos, usuarios y tickets de la tienda.</p>
            <p class="text-center">Utiliza el menú lateral para navegar por las diferentes secciones.</p>
            <p class="text-center">Si tienes alguna duda, no dudes en contactar con el soporte técnico.</p>
        </div>
    </div>
</section>