<section class="mt-5 pt-4 mx-5">
  <div class="row">
    <div class="col-md-12">
      <!-- Mostrar nombre de la categoría -->
      <h1 class="text-center">{{ selectedCategoryName }}</h1>

      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <!-- Emitimos el evento con el objeto (id y name) -->
              <app-button-category (categorySelected)="onCategorySelected($event)"></app-button-category>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-card-product #card></app-card-product>
</section>
