<section>
    <div class="container-fluid p-0 mt-4">
        <div class="box-product bg-body" style="max-width: 100%; width: 100%; margin: 0;" data-aos="fade-up">
            <div *ngIf="!isLoading && posts.length > 0" class="card shadow bg-dark text-light" data-aos="zoom-in">
                <!-- Proporción 21:9 (la más horizontal) -->
                <div class="ratio" style="--bs-aspect-ratio: 33.33%;"> <!-- 3:1 ratio -->
                     <img [src]="posts[0].image || 'imgs/default.jpg'"
                        class="card-img-top"
                        style="object-fit: cover;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ posts[0].title }}</h5>
                    <p class="card-text">{{ posts[0].content }}</p>
                </div>
            </div>
        </div>
    </div>
</section>