<section class="p-5 mt-5 bg-danger-subtle">
    <div class="row mt-5">
        <div class="col-md-3"></div>
            <div class="col-md-6 border-radius-3 bg-light  p-4 shadow rounded">
                <div class="mb-5">
                    <h1 class="text-center text-dark">Iniciar Sesión</h1>
                </div>
                <form (submit)="login(); $event.preventDefault()">
                <div class="mb-3">
                    <label for="email" class="form-label text-dark">Email:</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">{{"@"}}</span>
                        <input type="email" id="email" [(ngModel)]="email" name="email" class="form-control">
                    </div>
                </div>
                <div class="mb-5">
                    <label for="password" class="form-label text-dark">Contraseña:</label>
                    <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-danger">Ingresar</button>
                </form>

            </div>
        <div class="col-md-3"></div>
    </div>
</section>
