<section class="p-5 mt-5">
    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6 bg-light border-radius-3 p-4 shadow-sm rounded">
                <h1 class="text-center">Iniciar Sesión</h1>
                <form >
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" class="form-control" >
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" id="password" class="form-control" >
                    </div>
                    <button type="submit" class="btn btn-danger">Ingresar</button>
                </form>
            </div>
        <div class="col-md-3"></div>
    </div>
</section>
