
<section class="mt-4 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-4 bg-light rounded shadow">
             <h1>Lista de productos</h1>
             <div class="table-responsive rounded mb-3">
                    <table class="table table-hover table-borderless align-middle mb-0 bg-white rounded">
                        <thead class="table-secondary text-center text-secondary">
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <tr *ngFor="let product of products | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                            <td><strong>{{ product.id }}</strong></td>
                            <td>{{ product.name }}</td>
                            <td class="text-truncate" style="max-width: 200px;">{{ product.description }}</td>
                            <td><span class="badge bg-success">{{ product.price | currency }}</span></td>
                            <td>
                            <span [class]="product.stock > 0 ? 'text-success' : 'text-danger'">
                                {{ product.stock }}
                            </span>
                            </td>
                            <td>
                            <div class="d-flex justify-content-center gap-2">
                                <button class="btn btn-outline-primary btn-sm" (click)="editProduct(product.id)">
                                <i class="fas fa-edit me-1"></i> Editar
                                </button>
                                <button class="btn btn-outline-danger btn-sm" (click)="deleteProduct(product.id)">
                                <i class="fas fa-trash-alt me-1"></i> Eliminar
                                </button>
                            </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <pagination-controls 
                    (pageChange)="p = $event" 
                    class="my-pagination text-center"
                    previousLabel="Anterior"
                    nextLabel="Siguiente">
                </pagination-controls>
            </div>
        </div>
    </div>
</section>