
nav {
  background-color: #1b1b1b;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}

section img {
  border-radius: 50%;
  margin-right: 1%;
  margin-left: 1%;
  transition: transform 0.2s;
  
}

section img:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgb(0, 0, 0);
}

/* Estilo para el texto que deseas aumentar el tamaño */
/* Estilo para el texto que deseas aumentar el tamaño */
.nav-link {
  font-size: 16px; /* Tamaño de letra normal */
  transition: transform 0.3s ease-in-out; /* Transición suave con el transform */
}

/* Efecto al pasar el ratón */
.nav-link:hover {
  transform: scale(1.2); /* Aumenta el tamaño sin afectar el flujo de layout */
}
